img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

aside {
    text-align: left;
    padding: 1%;
}

ul {
    list-style-type: none;
}

li {
    padding: 0.5rem;
    display: flex;
    align-content: center;
}

li:hover {
    background-color: lightgrey;
}